
body{
    margin: 5%;
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: flex;
    justify-content: center; /* Mengatur agar isi flexbox berada di tengah */
}

.alignborder {
    text-align: center;
}

#footer{
    text-align: center;
}

.myButton {
    font-size: 18px; /* Ubah ukuran font */
    width: 150px; /* Ubah lebar tombol */
    height: 30px; /* Ubah tinggi tombol */
}
