<!DOCTYPE html>
<html>
    <head>
        <title>Websiteku</title>
        <link rel="icon" href="img/favicon.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="css/tampilan.css">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">"
    </head>
    <body>
         <div id="app"> <!--Pemanggilan Element (el) di VueJs -->
        <header>
        <!-- Render Gambar -->
            <img v-bind:src="gambar" width="150">
        <!-- Masukkan data dan bisa di ENTER (di keyboard) -->
            <h1>FORM SUBMIT</h1>
            <p><input type="text" placeholder="Nama Kelas" v-on:keyup.enter="submit"></p>
            <h1>FORM SUBMIT 2</h1>
            <p><input type="text" placeholder="Nama Kelas" v-on:keyup.enter="submit2" vmodel="kelasbaru"></p>
                
            <!-- Render Nama ada 2 cara-->
            <h1 v-once>{{ getname().toUpperCase() }}</h1>
            <h1 v-text="name"></h1>
        <!-- Render inputText dan ditampilkan --> 
            <p>
                <h1 v-text="name"></h1>
                <input type="text" v-model="name">
            </p>
        <!-- Render if else VueJs --> 
        <div>
            <p>
                <h3>Daftar Kelas ({{ kelas.length }})</h3>
                <ul v-if="kelas.length >= 1">
                    <li v-for="item of kelas" v-text="item"></li>
                    <br>
                    <li v-for="(item , index) of kelas" >{{ index+1 }} - {{ item }}</li>
                    <li style="font-weight: bolder;">Kelas Tersedia</li>
                </ul>
                <li style="font-weight: bolder;" v-else>Kelas Belum Tersedia</li>
            </p>
        </div>    
        <div>
            <p>
                <h3>Daftar Kelas ({{ kelas.length }})</h3>
                <ul v-show="kelas.length >= 1">
                    <li v-for="item of kelas" v-text="item"></li>
                    <br>
                    <li v-for="(item , index) of kelas" >{{ index+1 }} - {{ item }}</li>
                    <li style="font-weight: bolder;">Kelas Tersedia</li>
                </ul>
            </p>
        </div>
        <!-- Render checkbox dan dan melakukan perulangan serta ditampilkan ada 2 cara-->
            <ul>
                <li v-for="item of kelas" v-text="item"></li>
                <br>
                <li v-for="(item , index) of kelas" >{{ index+1 }} - {{ item }}</li>
            </ul>
        <template>
            <h2>Daftar Kelas ({{ kelas.length }})</h2>
                <ul v-if="kelas.length >= 1">
                    <li v-for="item of kelas" v-text="item"></li>
                    <br>
                    <li v-for="(item , index) of kelas" >{{ index+1 }} - {{ item }}</li>
                    <li style="font-weight: bolder;">Kelas Tersedia</li>
                </ul>
        </template>
            <p>            
                <div>
                    <label><input type="checkbox" value="React" v-model="kelas">React</label>
                    <label><input type="checkbox" value="VueJs" v-model="kelas">VueJs</label>
                    <label><input type="checkbox" value="Angular" v-model="kelas">Angular</label>
                </div>
            </p>
        <!-- Perulangan data -->
            <h3>Perulangan (1-5)</h3>
            <ul>
                <li v-for="x in 5">{{ x }}</li>
            </ul>
        <!-- Perulangan data dan mencari bilangan Genap -->
            <h3>Mencari Bilangan Genap: {{ numbers }}</h3>
            <ul>
                <li v-for="x in caribilangangenap(numbers)">{{ x }}</li>
            </ul>
        <!-- Render Anotasi Bilangan -->
            <h1 v-text="bilangan*5"></h1>
            <p>
                <h4>Bilangan ini adalah bilangan {{ infoBilangan }}</h4>
                <button class="myButton" v-on:click="handleclick">{{ tekan.toUpperCase() }}</button>
            </p>
        <!-- Render Link -->
            <h1 v-html="link"></h1>

        <!-- Hapus class di VueJs dengan True/False -->
            <!-- <p>
                <button v-bind:class="{active:menu === 'home'}" v-on:click=" menu = 'home' ">Home</button>
                <button v-bind:class="{active:menu === 'about'}" v-on:click=" menu = 'about' ">About</button>
                <button v-bind:class="{active:menu === 'blog'}" v-on:click=" menu = 'blog' ">Blog</button>
            </p> -->

        <!-- Pemanggilan Vue Js     -->
            <h2>{{ isActive ? 'success' : 'danger' }}</h2>
            <h3>{{ getname() }}</h3>
            <h3>{{ namaLengkap+ " " +totalBayar}}</h3>
            <h3>{{ bilangan }}</h3>
            <h4>Bilangan ini adalah bilangan {{ infoBilangan }}</h4>
            <p>The Progresive Javascript Framework</p>

            <a v-bind:class="{active: menu === 'home'}" href="#" v-on:click.prevent="gantimenu('home')">Home</a>
            <a v-bind:class="{active: menu === 'about'}" href="#" v-on:click.prevent="gantimenu('about')">About</a>
            <a v-bind:class="{active: menu === 'blog'}" href="#" v-on:click.prevent="gantimenu('blog')">Blog</a>

        </header>
        </div>
        <h1 class="alignborder">SAYA YOAS</h1>
        <div class="container">
            <table border="1" style="width: 50%; height: 50px;">
                <thead>
                    <tr style="height: 40px;">
                        <th>No</th>
                        <th>Nama</th>
                        <th>Umur</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="alignborder">
                        <td>1</td>
                        <td>John Doe</td>
                        <td>20</td>
                    </tr>
                    <tr class="alignborder">
                        <td>2</td>
                        <td>Jane Smith</td>
                        <td>22</td>
                    </tr>
                    <tr class="alignborder">
                        <td>3</td>
                        <td>Gara</td>
                        <td>26</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer id="footer">
            <p>copyright 2023</p>
        </footer>
        <!-- cdn vue js versi 2.6.0 -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
        <script src="js/vuejs.js"></script>  
    </body>
</html>